@import url("http://fonts.cdnfonts.com/css/pokemon-solid");
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Poppins:wght@200&family=Share+Tech+Mono&display=swap");

body {
  background-color: white;
  font-family: "Arvo", serif;
  /* background-color: burlywood; */
  /* font-family: "Pokemon Solid", sans-serif; */
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 0.5rem 1.3rem; */
  padding: 0rem 1.1rem;
  border: 3px solid;
  border-radius: 0.5rem;
  background-color: #f03030;
  /* flex-direction: row; */
}
.nav-title {
  font-size: 2rem;
  font-family: "Pokemon Solid", sans-serif;
  /* color: rgb(255, 208, 0); */
  /* color: white; */
  color: rgb(255, 208, 0);

  /* text-shadow: 0 0 10px black; */
  text-shadow: 0 0 15px rgb(11, 118, 241);
}
.list {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  font-weight: bold;
  justify-content: flex-end;
  font-size: 1.2rem;
  color: rgb(255, 208, 0);
  /*  */
  /* color: white; */
  /* margin: 1.2rem; */
  /* border: 1px solid; */
}
.list-items a {
  text-decoration: none;
  color: rgb(255, 208, 0) !important;
}
a:visited {
  /* text-decoration: none; */
  color: rgb(255, 208, 0) !important;
}

ul {
  /* text-decoration: none; */
  list-style: none;
}

.card-element {
  width: 300px;
  border: 2px solid;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
  /* background-color: rgb(248, 248, 65); */
  background-color: rgb(255, 208, 0);
  /* opacity: 50%; */
  display: flex;
  /* place-items: center; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-element img {
  width: 150px;
  height: 150px;
  border: 2px solid;
  border-radius: 50%;
  margin: 0.5rem;
  background-color: white;
  padding: 0.1rem;
  /* text-align: center; */
}
.card-details {
  border: 2px solid;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: white;
  width: 250px;
  min-height: 200px;
  font-size: 0.9rem;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-items: stretch; */
  /* justify-content: stretch; */
  /* text-align: center; */
}

.poke-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* .card-element {
  border: 1px solid;
  margin: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  width: 100px;
}
.card-element img {
  width: 100px;
  height: 100px;
}  */
.ability-content,
.type-content {
  display: flex;
  gap: 0.2rem;
  flex-wrap: wrap;
  margin: 0.8rem 0rem;
  padding: 0;
}
.ability-content p,
.type-content p {
  margin: 0;
  padding: 0;
}
